/*Meli
1. Layout
*/
html{
    background-color: #dddddd;
}
h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 50%;
}
button {
    height: 30px;
    width: 90px;
    font-size: 20px;
    background-color: #888888;
    color: white;
}
input{
    height: 30px;
    width: 90px;
    font-size: 20px;
}

.create-account{
    height: 30px;
    width: 150px;
    font-size: 20px;
    background-color: #6461ff;
    color: white;
}
.chat-text {
    text-align: left;
}


/*
2. Textformatierung
*/
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 1500;
}

li {
    list-style: none;
    text-align: left;
    margin: 2%;

}

/*
3. Links
*/
a:link {
    text-decoration: none;
    color: blue;

}

a:hover {
    font-weight: 5000;
    text-decoration: underline;
    color: blue;
}

a:visited {
    color: blue;
}

/*
*/



/*Emma
1. Formulare 
*/
.form-container {
    width: 50%;
    border: black 1px dotted;
    background-color: white;
}

label {
    width: 30%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
}

.title {
    display: inline-block;
    width: 45%;
    text-align: left;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px 10px;
}

/*
2. Responsive
*/