/*Meli
1. Layout
*/
html {
    background-color: #dddddd;
}

hr {
    width: 90%;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 50%;
}

button {
    height: 30px;
    width: 90px;
    font-size: 20px;
    background-color: #888888;
    color: white;
}

.form-buttons input[type="submit"] {
    background-color: rgb(70, 70, 255);
    color: white;
}

.form-buttons a {
    display: inline-block;
    padding: 3px;
    background-color: #888888;
    color: white !important;
}

input {
    height: 30px;
    width: 90px;
    font-size: 20px;
}

.create-account {
    height: 30px;
    width: 150px;
    font-size: 20px;
}

.chat-text {
    text-align: left;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(70, 70, 255);
    text-align: center;
    color: white;
    font-size: 15px;
    margin-right: 5%;
}

.friendlist {
    list-style: none;
}

.friendlist li {
    display: flex;
    justify-content: space-between;
}

.friendlist a {
    text-decoration: none;
    color: black;
}



/*
2. Textformatierung
*/
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    font-weight: 1500;
}

li {
    text-align: left;
    margin-bottom: 2%;
}

/*
3. Links
*/
a:link {
    text-decoration: none;
    color: blue;

}

a:hover {
    font-weight: 5000;
    color: blue;
}

a:visited {
    color: blue;
}

.friendlist {
    list-style: none;
}

.form-list {
    list-style: decimal;
}

/*
*/



/*Emma
1. Formulare 
*/
.form-container {
    width: 75%;
    max-width: 600px;
    border: black 1px dotted;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 2px;
}

label {
    width: 190px;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 10px;
}

.title {
    display: inline-block;
    width: 75%;
    max-width: 600px;
    text-align: left;
}

input[type=text] {
    width: 50%;
    max-width: 600px;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px 10px;
    margin-right: 10pt;
}

/*
2. Responsive

*/

@media screen and (max-width: 600px) {

    input[type="text"] {
        width: 70%;
        display: block;
        text-align: center;
        display: inline-block;
    }

    label {
        width: 70%;
        text-align: left;
    }

    input[type="button"] {
        width: 90px;
        display: block;
        text-align: center;
        display: inline-block;
    }
}