/*Meli
1. Layout
*/
h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 50%;
}

/*
2. Textformatierung
*/
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 1500;
}

/*
3. Links
*/

/*
*/



/*Emma
1. Formulare 
*/

form {
    width: 60%;
}

label {
    width: 18%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #999;
    padding: 5px 10px;
}

/*
2. Responsive
*/